<launch>
  <master auto="start" />

  <!-- use sim time for /clock -->
  <!-- <param name="use_sim_time" value="true"/> -->

  <!-- set leg detector fixed frame -->
  <param name="/leg_detector/fixed_frame" value="map"/>

  <!-- choose map -->
  <node name="map_edited" pkg="map_server" type="map_server" args="$(find sarg_2dnav)/maps/lab.yaml"/>

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_omni.launch"/>

  <!-- load move_base and configuration -->
  <include file="$(find quori_nav)/launch/move_base.launch"/>
</launch>
