<launch>
  <master auto="start"/>

  <!-- quori_description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find quori_description)/urdf/quori_standalone.xacro'"/>

  <!-- load map -->
  <node name="map" pkg="map_server" type="map_server" args="$(find sarg_2dnav)/maps/lab.yaml"/>

  <!-- amcl -->
  <include file="$(find amcl)/examples/amcl_omni.launch">
    <param name="base_frame_id" value="quori/base_link"/>
  </include>

  <!-- load move_base and configuration -->
  <include file="$(find quori_nav)/launch/move_base.launch"/>
</launch>
